$primaryColor: #fff;
$dark: #171515ec;
$darker: #000000;
$linear-btn: linear-gradient(90deg, rgba(44,132,55,0.99) 0%, rgba(35,98,103,0.9) 48%, rgba(33,41,44,0.9) 100%);

$navColor1: #aa6e39;
$navColor2: #aa3e39;
$navColor3: #21292c;
$navColor4: #236267;
$navColor5: #2c8437;
