@media (min-width: 768px) {
    .offers {
        position: relative;
        &__cards {
            flex-direction: row !important;
            justify-content: center;
            align-items: center;
            
        }
        &__card {
            z-index: 1;
            &-img {
                height: 100%;
                
            }
        }
        .section-icon-square,
        .section-icon-x,
        .section-icon-square-1, 
        .section-icon-x-1  {
            position: absolute;
            display: block !important;
            
        }
        .section-icon-square {
            top: 8%;
            left: 10%;
            width: 300px;
            height: 300px;
            animation: iconRotateRight 60s infinite linear;
        }
        .section-icon-x {
            bottom: 5%;
            right: 10%;
            width: 250px;
            height: 250px;
            animation: iconRotateLeft 40s infinite linear;
          
        }
        .section-icon-square-1 {
            top: 4%;
            right: 0;
            width: 250px;
            height: 250px;
            animation: iconRotateLeft 60s infinite linear;
            z-index: 2;
        }
        .section-icon-x-1 {
            bottom: 5%;
            left: 10%;
            width: 100px;
            height: 100px;
            animation: iconRotateRight 40s infinite linear;
            // z-index: 100;
        }

    }

    .contact {
        
        
        &__in {
            display: flex;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            padding: 1em;
            
            &-map {
                width: 100%;
                height: auto;
                flex: 50%;
                margin: 2.5em 2.5em;
            }
            
            &-form {
    
                h3 {
                    font-size: 2.5rem;
                    
                }
                &-text {
                
                    padding: 1.5em;
                }
                
                &-btn {
                    padding: 2em 0;
                    
                }
            }
        }
    }
    .footer {
        
        .wrapper {
            padding: 6em 2em 2em;
        }
        &__boxes {
            display: flex;
            justify-content: space-around;
        }
        &__box {
            width: 25%;
            margin: 0 2em;
            &:first-child {
                width: 50%;
            }
        }
        &__box-desktop {
            display: block !important;
            text-decoration: none;
        }
        &__box-title {
            font-size: 2.6rem;
        }
        &__box-list {
            list-style: none;
        }
        &__box-text {
            font-size: 1.6rem;
        }
       &__box-list-item {
           margin-bottom: 1em;
       }
        
    }


    .section-heading {
        font-size: 4rem;
    }
    .section-padding {
        
        padding: 7em 2em;
    }
}